*.yml
**/__pycache__
/engines/*
!/engines/README.md
lichess_bot_auto_logs/*
.vscode/*
.vs/*
*.pgn
*.log
*.txt
TEMP/*
# Secrets
config.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Logs / outputs
*.log
*.pgn

# OS
.DS_Store
Thumbs.db
